.userInfo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template: 'u-ava u-username u-username';
    grid-gap: 10px;
    margin-bottom: 10px;
}

.userAva {
    grid-area: u-ava;
}

.userAva img {
    width: 200px;
    border-radius: 5px;
    height: 200px;
}

.userName {
    grid-area: u-username;
}