.textareaWrapper textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

button {
    border-radius: 4px;
    background-color: #4c75a3;
    color: white;
    padding: 10px;
}

.newPostCaption {
}

.textareaWrapper {
    display: inline-block;
    width: 50%;
    margin-bottom: 8px;
}