.navbar {
    grid-area: nav-wrapp;
}

.link {
    text-decoration: none;
    font-size: 22px;
    padding: 5px;
}

.link a {
    text-decoration: none;
}

.link a.activeLink {
    padding: 10px;
    color: black;
}