.app-wrapper {
    display: grid;
    grid-template-areas: 
    'head-wrapp head-wrapp head-wrapp'
    'nav-wrapp cont-wrapp cont-wrapp'
    'footer-wrapp footer-wrapp footer-wrapp';
    grid-template-rows: inherit 1fr;
    grid-template-columns: 2fr 10px;
    grid-gap: 10px;
}

.logo-link {
    grid-area: h-logo;
}

.logo-link img {
    width: 46px;
    height: 46px;
    margin-left: 5%;
}

.header-content {
    display: grid;
    grid-template-rows: inherit;
    grid-template-columns: inherit;
    grid-template-areas: 'h-logo h-logo h-logo';
    background-color: #4c75a3;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 10fr 2fr;
    grid-template: 'u-ava u-username';
}

.user-avatar {
    grid-area: u-ava;
    grid-template-columns: 20px 1fr;
}


.user-avatar img {
    width: 70px;
    height: 70px;
}

.user-name {
    grid-area: u-username;
}

.navbar-wrapper {
    grid-area: nav-wrapp;
}

.header-wrapper {
    grid-area: head-wrapp;
}

.content-wrapper {
    grid-area: cont-wrapp;
}

.footer-wrapper {
    grid-area: footer-wrapp;
}

.link {
    text-decoration: none;
    font-size: 22px;
    padding: 5px;
}

.link a {
    text-decoration: none;
}
