.app-wrapper {
    display: grid;
    grid-template-areas: 
    'head-wrapp head-wrapp head-wrapp'
    'nav-wrapp cont-wrapp cont-wrapp'
    'footer-wrapp footer-wrapp footer-wrapp';
    grid-template-rows: inherit 1fr;
    grid-template-columns: 2fr 10px;
    grid-gap: 10px;
}


